body{
  margin:0;
  background:#111;
  color:#fff;
  font-family:Arial;
}
.container{
  width:100%;
  max-width:420px;
  margin:auto;
  text-align:center;
  padding:14px;
}
button{
  padding:12px 20px;
  border:0;
  border-radius:8px;
  background:#0061ff;
  color:white;
  font-size:18px;
  width:100%;
  margin:6px 0;
}
.badge{
  display:inline-block;
  padding:4px 8px;
  margin:3px;
  background:#333;
  border-radius:8px;
  font-size:12px;
}
canvas{
  width:100%;
  background:#222;
  border-radius:12px;
}
